/* app css stylesheet */
body {
  background: #262626;
  /*font-size: 25px;*/
  color: #eee;
  font-family: "Open Sans",Helvetica,Arial,sans-serif;
}

.title {
  font-family: 'Henny Penny', "Open Sans",Helvetica,Arial,sans-serif;
  font-size:25px;
}

.little {width:290px;}
.gameBoard {
  text-align: center;
}

.mainContent {
    margin-top: 60px;
}

.mainscore {
  font-size: 30px;
}
.ghost, .resetlink {
  cursor:pointer;
}

.extras {
  font-size:18px;
  cursor: pointer;
}

.extras:hover {
  background-color: #323843;
}
.extras.unavailable {
  opacity: 0.3;
  cursor:default;
}

.info {
  font-size: 12px;
}

.fade-hide, .fade-show {
    -webkit-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 1.0s;
    -moz-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 1.0s;
    -o-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 1.0s;
    transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 1.0s;
}

.fade-hide {
    opacity:1;
}
.fade-hide.fade-hide-active {
    opacity:0;
}

.fade-show {
    opacity:0;
}
.fade-show.fade-show-active {
    opacity:1;
}
.social {
    display: inline-block;
    list-style:none;
    padding-left:0;
}
.social li {
    display: inline-block;
    padding: 2px 20px;
}

.content-section {
  margin-top: 30px;
  margin-left: 30px;
  /*padding: 1.5em;*/
  /*background: #333;*/
  border-radius: 10px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
  font-size: 16px;

}
.content-section h2, .content-section h3 {
    opacity: 0.8;
}
.content-section h2 {
  border-bottom: 1px solid #CA965D;
}

.footer a, .footer a:hover, .footer a:visited, .content-section a, .content-section a:hover, .content-section a:visited {
 color: #CA965D; 
 text-decoration: none;
}




