<div class="container mainContent">
  <div class="row">
    <div class="col-md-8 offset-1">
      <div class="content-section">
        <h2>FAQ</h2>
        <div>
          <h3>Who built this?</h3>
          <p><a href="http://twitter.com/poissonpie">I</a> did. You should <a href="http://twitter.com/poissonpie">follow me</a></p>
        </div>
        <div>
          <h3>Why?</h3>
          <p>To play with <a href="angularjs.org">AngularJS</a></p>
        </div>            
        <div>
            <h3>What's the point?</h3>
            <p>Help the little ghost haunt everyone in the world, of course!</p>
            <p>Click the ghost and when you have haunted enough people, you can trade some hauntings for upgrades in the form of automation.</p>
        </div>
        <div>
            <h3>So there's no real point?</h3>
            <p>Pretty much.</p>
        </div>
        <div>
            <h3>How many people are there in the world?</h3>
            <p>Somewhere in the region of 7 billion</p>
        </div>
        <div>
          <h3>Show me the code?</h3>
          <p><a href="https://github.com/poissonpie/clickortreat">The source</a> in all its glory.
        </div>

      </div>
      <div class="content-section">
          <h2>Credits</h2>
          <div>
            <h3>Idea</h3>
            <p>I would be lying if I didn't say <a href="http://orteil.dashnet.org/cookieclicker/">Cookie Clicker</a> was the inspiration behind this.</p>
            <p>You should go and play it. It's far more complete than this silly <a href="http://clickortre.at">halloween game</a></p>
          </div>
          <div>
            <h3>Icons - The Noun Project</h3>
            <p><a href="http://thenounproject.com/noun/witch/#icon-No13874" target="_blank">Witch</a> designed by <a href="http://thenounproject.com/jenmalia" target="_blank">Jennifer Cozzette</a></p>
            <p><a href="http://thenounproject.com/noun/wolf/#icon-No8107" target="_blank">Wolf</a> designed by <a href="http://thenounproject.com/SofiaCampos" target="_blank">Sofía Campos Delgado</a></p>
            <p><a href="http://thenounproject.com/noun/pumpkin/#icon-No4914" target="_blank">Pumpkin</a> designed by <a href="http://thenounproject.com/viktor_architect" target="_blank">Viktor K</a></p>
            <p><a href="http://thenounproject.com/noun/bat/#icon-No20237" target="_blank">Bat</a> designed by <a href="http://thenounproject.com/adamstickbug1" target="_blank">Adam Heller</a></p>
            <p><a href="http://thenounproject.com/noun/scarecrow/#icon-No4166" target="_blank">Scarecrow</a> designed by <a href="http://thenounproject.com/adamatmullin" target="_blank">Adam Mullin</a></p>
            <p><a href="http://thenounproject.com/noun/mummy/#icon-No4070" target="_blank">Mummy</a> designed by <a href="http://thenounproject.com/gilad1" target="_blank">Gilad Fried</a></p>
            <p><a href="http://thenounproject.com/noun/coffin/#icon-No5980" target="_blank">Coffin</a> designed by <a href="http://thenounproject.com/chlapa" target="_blank">Chiara Cozzolino</a></p>
            <p><a href="http://thenounproject.com/noun/haunted-house/#icon-No4056" target="_blank">Haunted House</a> designed by <a href="http://thenounproject.com/lannienicole" target="_blank">Leann Williams</a></p>
            <p><a href="http://thenounproject.com/noun/spider-web/#icon-No813" target="_blank">Spider Web</a> designed by <a href="http://thenounproject.com/BL4CK_K1N6" target="_blank">Denis Frezzato</a></p>
            <p><a href="http://thenounproject.com/noun/skeleton/#icon-No12410" target="_blank">Skeleton</a> designed by <a href="http://thenounproject.com/sebastian.langer.330" target="_blank">Sebastian Langer</a></p>
          </div>
      </div>
    </div>
  </div>
</div>
