  <div class=" container mainContent gameBoard">
    <div ng-controller="GhostController">
      <div class="row">
          <div class="col-md-8 mainscore">
            <div>{{game.score | chopdecimal | number }} <ng-pluralize count="game.score | chopdecimal | number"
                                                          when="{'0': 'person haunted',
                                                          'other': ' people haunted'}"></ng-pluralize></div>
            <div class="info">{{game.autoclick*10 |number:2}} hauntings per second</div>
            <div>
                <ul class="social">
                    <li><a href="https://twitter.com/intent/tweet?url=http%3A%2F%2Fclickortreat.in&via=clickortreat&button_hashtag=clickortreat&text=I'm%20addicted%20to%20click or%20treat%20http://clickortreat.in" 
                    class="twitter-share-button" data-url="http://clickortreat.in"
                    data-via="clickortreat" 
                    data-lang="en"
                    data-size="medium"
                    data-count="none">Tweet</a>
                    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
                    </li>
                    <li>
                        <div class="g-plusone" data-size="medium" data-annotation="none"></div>
                        <script type="text/javascript" src="https://apis.google.com/js/plusone.js"></script>
                    </li>
                </ul>
            </div>
            <div ng-mousedown="smallGhost=true" ng-mouseup="smallGhost=false">
                <img ng-class="{'little':smallGhost}" class="ghost" ng-click="clickGhost()" src="img/ghost.png" />
            </div>
            <div ng-cloak ng-show="saving" ng-animate="{show:'fade-show', hide: 'fade-hide'}"><h3>Game Saved</h3></div>
      </div>

          <div class="col-md-3 " >
              <div class="row extras" ng-class="{unavailable: game.score < product.price}" ng-click="clickProduct(product)" ng-repeat="product in game.products">
                  <div class="col-sm-4">
                      <p><img ng-src="{{product.image}}" /></p>
                  </div>
                  <div class="col-sm-5 product">
                      <p class="text-left">{{product.name}} <br />
                      {{product.price | number}}</p>
                  </div>
                  <div class="col-sm-3">
                      <p style="text-align:right;">{{product.bought}}</p>
                  </div>
              </div>
          </div>

          <div class="col-md-1"></div>
      </div>
    </div>
