/* app css stylesheet */
body {
  background: #262626;
  /*font-size: 25px;*/
  color: #eee;
}
.little {width:290px;}
.gameBoard {
  margin-top: 60px;
  text-align: center;
}

.mainscore {
  font-size: 30px;
}
.ghost {
  cursor:pointer;
}

.extras {
  font-size:18px;
  cursor: pointer;
}

.extras:hover {
  background-color: #323843;
}
.extras.unavailable {
  opacity: 0.5;
  cursor:default;
}

.info {
  font-size: 12px;
}

