<!doctype html>
<html lang="en" ng-app="myApp">
<head>
  <meta charset="utf-8">
  <title>My AngularJS App</title>
  <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="css/app.css"/>
</head>
<body>
  <div class="gameBoard">

    <div ng-controller="GhostController">
    <div class="row">
      <div class="col-md-8">
        <div>{{game.score | chopdecimal}} haunted rooms</div>
        <div class="info">{{game.autoincrementpersecond |number:2}} hauntings per second</div>
        <div><img ng-click="clickGhost()" pulse-animate="pulseToggle" src="img/ghost.png" /></div>
      </div>
      <div class="col-md-4">
        <div class="extras" ng-class="{unavailable: game.score < 20}" ng-click="clickWitch()"><img src="img/witch_thumb.png" /> Witch {{ game.witches }}</div>
      </div>
    </div>







  </div>

  <p ng-class='{"animated pulse":pulse==true}'></p>
  <!-- In production use:
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
  -->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <script src="lib/angular/angular.js"></script>
  <script src="js/app.js"></script>
  <script src="js/services.js"></script>
  <script src="js/controllers.js"></script>
  <script src="js/filters.js"></script>
  <script src="js/directives.js"></script>


</body>
</html>
